# Maven
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Environment / secrets
.env

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build directories
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Java compiled files
*.class

# Logs
*.log

# Java archives
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Java VM crash logs
hs_err_pid*
replay_pid*